[Unit]
Description=TANK client
After=syslog.target network.target

[Service]
Type=simple
ExecStart=python3 -m tank-client
Restart=on-abort

[Install]
WantedBy=multi-user.target